.site-header .logo {
    position: fixed;
    top: 25px;
    left: calc(3% + 15px);
    z-index: 1040;
    height: 42px;
    background-color: #1e1e1e;
    filter: invert(1);
    border-radius: 3px;
}

.site-header .menu-toggler{
    position: fixed;
    top: 25px;
    right: calc(3% + 15px);
    z-index: 1060;
    background-color: #232323;
    color: #fff;
    width: 40px;
    height: 40px;
    transition: background-color .3s ease;
    cursor: pointer;
    
    &.open{
        background-color: #fff;
        color: #222;
    }
}

.site-header .menu-toggler span,
.site-header .menu-toggler span:after,
.site-header .menu-toggler span:before{
    position: absolute;
    width: 20px;
    height: 0.1rem;
    background-color: currentColor;
    content:'';
    display: block;
    left:0;
    top: 50%;
    transition: transform .3s ease-out, background-color .2s ease-out;
}

.site-header .menu-toggler span{
    transform: translateY(-50%) translateX(50%);
}


.site-header .menu-toggler span:after{
    transform: translateY( calc(-50% - 5px));
}

.site-header .menu-toggler span:before{
    transform: translateY( calc(-50% + 5px));
}

.site-header .menu-toggler.open span{
    background-color: transparent;
}

.site-header .menu-toggler.open span:after{
    transform: translateY(-50%) rotate(45deg);
}

.site-header .menu-toggler.open span:before{
    transform: translateY(-50%) rotate(-45deg);
}

.site-header .menu-open-layer{
    position: absolute;
    top: calc(60px - 224vw);
    right: calc(40px - 224vw);
    width: 448vw;
    height: 448vw;

    border-radius: 50%;
    background-color: #f5f5f5;
    -webkit-transform-origin: center;
    transform-origin: center;
    transform: scale(0);
    transition: transform .5s ease-out;
}

.site-header .mega-menu.open .menu-open-layer{
    transform: scale(1);
}

.site-header .mega-menu{
    position: fixed;
    top:0;
    left:0;
    z-index: 1050;
    height: 100vh;
    width: 100vw;
    background-color: transparent;
    pointer-events: none;
    padding: 6rem 0 5rem 0;
    color: #2b2b2b;

    &.open{
        pointer-events: all;
    }
}

.mega-menu .navbar-nav,
.mega-menu .menu-contact-info{
    opacity: 0;
    transition: opacity .3s ease-out;
}

.mega-menu.open .navbar-nav,
.mega-menu.open .menu-contact-info{
    opacity: 1;
    transition: opacity .33s ease-out .35s;
}

.floating-menu-text{
    margin-bottom: 20px;
    font-weight: 700;    
    font-size: 0.9rem;
    letter-spacing: 0.5px;
}

.mega-menu .navbar-nav{
    padding-left: 15px;
    margin-bottom: 35px;
}

.mega-menu .navbar-nav a{
    font-size: 3rem;
    color: #2b2b2b;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -1px;

    &:hover{
        text-decoration: none;
        color: #2b2b2b;
        transform: translateX(30px);
    }
}

.mega-menu .navbar-nav li{
    margin-bottom: 24px;
    transform: translateX(-20px);
    opacity: 0;
    transition: opacity .3s ease .2s, transform .3s ease-out .2s;

}
.mega-menu.open .navbar-nav li{
    opacity: 1;
    transform: translateX(0);
}

@for $i from 2 through 6 {
    .mega-menu .navbar-nav li:nth-child(#{$i}) {
      transition-delay:  $i * .2s;
    }
}

.menu-contact-info li a svg{
    fill: #a9a9a9;
    transition: fill .3s ease;
}

.menu-contact-info li a:hover svg{
    fill: #d4211c;
}

@media (max-height: 620px){   
    .site-header .mega-menu{
        padding: 3rem 0 5rem 0;
    }
}

@media (min-width: 576px){   

    .site-header .menu-toggler{
        top: 40px;
    }

    .site-header .logo {
        top: 39px;
    }
        
    .site-header .mega-menu{
        padding: 8rem 0 6rem 0;
    }

    .mega-menu .navbar-nav{
        padding-left: 7rem;
        margin-bottom: 0;
    }

    .floating-menu-text{
        margin-bottom: 0;;
        position: absolute;
        top: 19px;
        left: 2rem;
        transform: rotate(-90deg);
        transform-origin: center;
    }
    
    .mega-menu .navbar-nav li{
        margin-bottom: 24px;
        transform: translateX(-50px);
    }

    .mega-menu .menu-contact-info{
        padding-left: 7rem;
    }

}

@media (min-width: 768px){
    .site-header .menu-open-layer{
        top: -90vw;
        right: -90vw;
        width: 230vw;
        height: 230vw;
    }

    .mega-menu .navbar-nav a{
        font-size: 5rem;
    }
    
}

@media (min-width: 992px){
    .mega-menu .menu-contact-info{
        padding-left: 15px;
    }
}

@media (min-width: 1200px){
    .site-header .menu-open-layer{
        top: -105vw;
        right: -105vw;
        width: 224vw;
        height: 224vw;
    }
}