.single-project{
    width: 100%;
    height: 100vh;
    
    position: relative;
    overflow: hidden;
    min-height: 100vh;
}
                    
.single-project img{
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
    transform-origin: center;
    will-change: transform;
    transform: scale(1.07);
    transition: transform 3s ease-out;
    z-index: -1;
    filter: brightness(0.9);
}

.single-project:hover img{
    transform: scale(1);
}

.single-project a{
    color: #fff;
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1;
    transition: color .3s ease-out;

    &:hover{
        color: #d4211c;
    }

    &:hover .arrow-button{
        background-color: rgba(#fff, 0.6);
        transform: translateX(5px);
    }
}

.single-project .arrow-button{
    background-color: #fff;
    margin-left: auto;
    width: 35px;
    height: 35px;
    margin-top: 3px;
    transform-origin: center;
    transition: background-color .3s ease-out, transform .3s ease-out;

    svg{
        height: 25px;
        width: 25px;
    }
}


.single-project .project-year{
    font-size: 1.5rem;
    font-weight: 800;
    color: #331;
    margin-top: 12px;
}

@media (min-width: 576px){
    
    .single-project a{
        font-size: 3.7rem;
    }
    
    .single-project .arrow-button{
        width: 43px;
        height: 43px;
        margin-left: 45px;

        svg{
            height: 30px;
            width: 30px;
        }
    }
}