.hero-image{
    position: relative;
    padding-top: 150%;
    min-height: 530px;
    background-color: #dcdcdc;
    overflow: hidden;

    picture{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        filter: brightness(0.6);
    }

    img{
        object-fit: cover;
        flex: auto;
    }
}

.hero-image.small{
    padding-top: 225px;
    min-height: unset;
}

.hero-image .content-box{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 15;
    color: #fff;

    > div{
        padding-left: 24px;
        padding-right: 24px;
        will-change: transform;
        transition: transform 0.38s cubic-bezier(0, 0, 0, 0.6);
        
    }
}

.hero-image .content-box h2{
    font-weight: 700;
    font-size: 2.5rem;
}
.hero-image .content-box .short-desc{
    font-size: 1.1rem;
    font-weight: 500;
}

.hero-image .content-box span,
.hero-image .content-box a{
    font-size: 0.95rem;
    font-weight: 500;
    letter-spacing: 0.02rem;
}

.hero-image .content-box h3{
    font-size: 0.95rem;
    color: #c1c1c1;
}

.hero-image .content-box a{
    color: #fff;
    transition: color .3s ease-out;
    
    svg{
        fill: currentColor;
    }

    &:hover{
        color: #d4211c;
    }
}

.hero-image .project-technologies,
.hero-image .project-designer{
    width: 100%;
}

@media (min-width:576px){

    .hero-image{
        padding-top: 80%;
        min-height: auto;
    }

    .hero-image.small{
        padding-top: 225px;
        min-height: unset;
    }

    .hero-image .content-box h2{
        font-size: 3rem;
    }

    .hero-image .content-box > div{
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (min-width:768px){
    .hero-image{
        padding-top: 70%;
    }

    .hero-image.small{
        padding-top: 35%;
        min-height: unset;
    }

    .hero-image .content-box h2{
        font-size: 3.4rem;
    }
    
    .hero-image .content-box .short-desc{
        font-size: 1.9rem;
    }
    
    .hero-image .content-box span,
    .hero-image .content-box a{
        font-size: 1.1rem;
    }
    
    .hero-image .content-box h3{
        font-size: 1.2rem;
    }

    .hero-image .project-technologies,
    .hero-image .project-designer{
        width: auto;
    }
}

@media (min-width:992px){
    
    .hero-image .content-box h2{
        font-size: 4.4rem;
    }
    

    .hero-image{
        padding-top: 55%;
    }
}

@media (min-width: 1200px){
    .hero-image{
        padding-top: 40%;
    }

    .hero-image.small{
        padding-top: 30%;
        min-height: unset;
    }
}