.portfolio-grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 110px;
    grid-row-gap: 40px;
    margin: 0;
    align-items: start;
}

.portfolio-item{
    position: relative;

    a{
        color: #333;
    }

    .animated-image{
        width: 100%;
        margin: 0 auto;
        box-shadow: 0px 0px 30px -6px#868686a3;
    }

    .canvas{
        padding: 58% 0;
    }

    h3{
        font-weight: 600;
        font-size: 2.3rem;
        margin-top: 1.5rem;
    }
}

@media (min-width: 768px){
    
    .portfolio-item .animated-image{
        width: 85%;
    }

    .portfolio-item:nth-child(even){
        padding-top: 7%;
    }

    .portfolio-item h3{
        margin-top: 2.5rem;
    }
    
    .portfolio-grid{
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 40px;
        grid-row-gap: 75px;
    }
}

@media (min-width: 1200px){
    .portfolio-grid{
        grid-column-gap: 110px;
    }
}