.MainBanner{
    height: 90vh;
    background-color: #1f1e1d;
    color: #fff;
    overflow: hidden;
}

.MainBanner h1{
    color: #d4211c;
    font-size: 0.9rem;
    font-weight: 600;
    letter-spacing: 2px;
}

.MainBanner h2{
    font-size: 2.3rem;
    font-weight: 600;
    letter-spacing: 0px;
    max-width: 595px;
}

.MainBanner .text-box{
    z-index: 10;
}

.MainBanner .xl-text{
    font-size: 23rem;
    top: -8rem;
    left: 18%;
    position: absolute;
    transition: transform .4s cubic-bezier(.22,.61,.36,1);
    color: #262626;
    font-weight: 700;  
    pointer-events: none;
}

.MainBanner .dots-1{
    position: absolute;
    height: 215px;
    left: 25px;
    bottom: -60px;
    transition: transform .4s ease-out;

    circle{
        fill: #303030;
    }
}

.MainBanner .dots-2{
    transition: transform .5s ease-out;
    height: 235px;
    position: absolute;
    right: 16%;
    bottom: 90px;

    circle{
        fill: #fff;
    }
}

.MainBanner .animated-circle{
    height: 100px;
    position: absolute;
    bottom: 0;
    left: -18%;
    transform: translateY(79%);
    height: 43rem;

    circle{
        stroke-width: 0.025rem;
        stroke-dasharray: 1000;
        stroke-dashoffset: 1000;
        transition: all 5.5s ease-out;
    }
}


.MainBanner.mounted .animated-circle circle{
    stroke-dashoffset: 0;
}

.MainBanner .banner-scroll-link{
    transform: rotate(90deg);
    position: absolute;
    right: 0;
    bottom: 40px;
    font-size: 0.8rem;
    font-weight: 500;
    color: inherit;
    letter-spacing: 1px;

    &:after{
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        width: 47px;
        height: 1px;
        background-color: #fff;
        transform: translateY(-50%) translateX(-61px);
    }
}

@media (min-width: 576px){
    
    .MainBanner{
        height: 100vh;
    }

    .MainBanner .text-box{
        padding-left: 7%;
    }
    
    .MainBanner h2{
        font-size: 4.3rem;
    }

    .MainBanner .dots-1{
        height: 215px;
        left: 0;
        top: 155px;
        bottom: unset;
    }

    
    .MainBanner .xl-text{
        font-size: 50rem;
        top: -16rem;
        left: 39%;
    }
    
}