.profile-section{
    background-color: #f9f9f9;
    color: #121212;
    padding: 5rem 0 1rem 0;
    font-weight: 300;
    letter-spacing: 0.4px;

    h3{
        padding-left: 45px;
        font-size: 2.1rem;
        margin-bottom: 1.2rem;
        font-weight: 700;
    }

    p{
        opacity: 0.6;
    }

    .profile-description{
        opacity: 0.9;
        max-width: 620px;
        font-weight: 500;
    }

    .trackline{
        position: relative;
    }

    .experience-item{
        margin-bottom: 5.5rem;
        position: relative;
        
        &:before, &:after{
            content: '';
            position: absolute;
            border-radius: 100%;
        }

        &:before {
            top: 8px;
            left: 0;
            border-radius: 100%;
            background-color: #f9f9f9;
            width: 25px;
            height: 25px;
            border: 2px solid #d4211c;
            z-index: 100;
        }

        &:after{
            background-color: #d4211c;
            width: 11px;
            height: 11px;
            left: 7px;
            top: 15px;
            z-index: 100;
        }
    }
    
    .job-description{
        max-width: 630px;
        font-weight: 400;
        letter-spacing: 0;
        color: #a0a0a0;
    }
}

.experience-item .years{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 0.9rem;
    opacity: 0.3;
    margin-bottom: 1.5rem;

    span:first-child:after{
        content:'';
        width: 50px;
        height: 1px;
        margin: 0.3rem 15px;
        background-color: currentColor; 
        display: inline-block;
    }
}


@media (min-width: 576px){

    .profile-section{
        padding: 6.5rem 0 3rem 0;
    }

    .profile-section .experience-item{

        margin-bottom: 7rem;

        &:before {
            top: 12px;
            left: -4.7rem;
        }

        &:after{
            top: 19px;
            left: calc(-4rem - 4px);
        }
    }

    .profile-section h3{
        font-size: 2.5rem;
        padding-left: 0;
        margin-bottom: 2rem;
    }

    .profile-section .trackline{
        padding-left: 4rem;
    }
}


@media (min-width: 992px){
    
    .experience-item .years{

        position: absolute;
        right: 0;
        top: 2rem;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        span:first-child:after{
            width: 1px;
            height: 55px;
            margin: 14px 5px 14px auto;
            display: block;
        }
    }
}
