.loader {
    display: inline-block;
    position: relative;
    overflow: hidden;
    vertical-align: middle;
    background-color: #ececec;

    &.dark{
        background-color: rgba(0, 0, 0, 0.4);
    }

    &::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transform: translateX(-100%);
        background-image: linear-gradient(
            90deg,
            rgba(#fff, 0) 0,
            rgba(#fff, 0.2) 20%,
            rgba(#fff, 0.5) 60%,
            rgba(#fff, 0)
        );

        animation: shimmer 2.2s infinite;
        content: '';
    }

    &.dark::after{
        background-image: linear-gradient(
            90deg,
            rgba(#fff, 0) 0,
            rgba(#fff, 0.07) 20%,
            rgba(#fff, 0.15) 60%,
            rgba(#fff, 0)
        );
    }

    @keyframes shimmer {
        100% {
        transform: translateX(100%);
        }
    }
}