.site-footer{
    background-color: #131313;
    color: #fff;
    padding: 100px 0 80px 0;
}

.site-footer a{
    transition: color .3s ease-out;
    
    &:hover{
        color: #d4211c;
    }

    svg{
        transition: fill .3s ease-out;
        fill: currentColor;
    }
}

.site-footer ul a{
    color: #9c9c9c;
}

.site-footer p{
    color: #5d5d5d;
}

.site-footer h2{
    font-size: 0.9rem;
    letter-spacing: 0.15rem;
}

.footer-logo{
    line-height: 0.8;
    margin-bottom: 0;
    font-size: 2.6rem;
}

.site-footer .footer-logo-subheading{
    color: #d0d0d0;
    font-size: 1.4rem;
    max-width: 200px;
    font-weight: 400;
}

.footer-rss-link{
    background-color: #fff;
    color: #121212;
    padding: 7px 10px;
}

.footer-scroll-link{
    position: absolute;
    bottom: 175px;
    right: 4%;
    transform: rotate(90deg);
    color: #fff;
    font-size: 0.85rem;
    font-weight: 700;
    letter-spacing: 0.1rem;

    &:after{
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        width: 47px;
        height: 1px;
        background-color: #fff;
        transform: translateY(-50%) translateX(-61px);
    }
}

@media (min-width: 576px){    
    .footer-logo{
        font-size: 2.8rem;
    }
}

@media (min-width: 992px){
    .site-footer{
        padding: 170px 0 140px 0;
    }
}