@font-face {
    font-family: 'Apercu';
    src: url("/fonts/Apercu-Pro-Light.otf");
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: 'Apercu';
    src: url("/fonts/Apercu-Pro-Regular.otf");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'Apercu';
    src: url("/fonts/Apercu-Pro-Medium.otf");
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: 'Apercu';
    src: url("/fonts/Apercu-Pro-Bold.otf");
    font-weight: 700;
    font-style: normal
}

body {
	font-family: 'Apercu', sans-serif;
}

.btn:focus, :focus{
    box-shadow: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container{
    padding-left: 24px;
    padding-right: 24px;
}

.bg-dark{
    background-color: #202020 !important;
}

/*
    Efecto de smooth scroll
*/
.viewport {
    margin: 0 0 0 0;
    width: 100%;
    overflow-x: hidden;
    position: fixed;
    will-change: auto;
    transition: transform .38s cubic-bezier(0, 0, 0, 0.6);
}

/* --------------------- */

a, a:hover{
    text-decoration: none;
}

.btn{
    min-width: 180px;
    padding: 14px 15px;
    font-size: 0.85rem;
    border-radius: 0;
    border-color: transparent;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    transition: all .3s ease-out;
    position: relative;
    overflow: hidden;
    
    &:before, &:after{
        content: '';
        position: absolute;
        top:0;
        width: 100%;
        height: 100%;
        transform-origin: center;
        transition: all .3s ease-out; 
        left:0;
        z-index: -1;
    }

    &::after{
        transform: skewX(23deg) translateX(-106%);
    }
    
    &:hover:after{
        transform: skewX(0) translateX(0);
    }
}

.btn.light{

    color: #232323;

    &:before{
        background-color: #fff;
    }

    &:after{
        background-color: #4a4a4a;
    }

    &:hover{
        color: #fdfdfd;
    }
}

.btn.dark{
    color: #fff;
    
    &:before{
        background-color: #232323;
    }
    &:after{
        background-color: #f1f1f1;
    }

    &:hover{
        color: #232323;
    }
}

.fancy-link{
    position: relative;
    display: inline-block;
    color: #d4211c;
    font-size: 1.2rem;
    font-weight: 500;
    padding-bottom: 6px;
    margin-bottom: 15px;
    line-height: 1;
    
    &:hover{
        color: #d4211c;
    }
    
    &:after{
        content: '';
        position: absolute;
        bottom: 0;
        left:0;
        height: 2px;
        width: 100%;
        background-color: currentColor;
        transform-origin: right;
        transition: transform .3s ease-in-out;
    }
    
    &:hover:after{
        transform: scaleX(0);
    }
}

.overlap-text{
    transition: all .75s cubic-bezier(.63,.03,.21,1);
    position: relative;
    transform-origin: center;
    display: inline-block;

    &:after{
        font-size: inherit;
        content: attr(overlay-text);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        color: #909090;
        font-weight: inherit;
        letter-spacing: inherit;
        line-height: inherit;
        transition: all .75s cubic-bezier(.63,.03,.21,1);
        -webkit-clip-path: inset(0 100% 0 0);
        clip-path: inset(0 100% 0 0);
    }

    &.on-hover:hover:after{
        -webkit-clip-path: inset(0 0 0 0);
        clip-path: inset(0 0 0 0);
    }
}

.section{
    padding: 90px 0 70px 0;
}

/*
    Utilidades de texto
*/
.mg-heading{
    font-size: 2.9rem;
    font-weight: 600;
    letter-spacing: -1px;
}

.mg-subheading{
    font-size: 1rem;
    color: #afafaf;
    margin-bottom: 70px;
}

/*
     Animaciones !!
*/
.chars-effect{
    overflow: hidden;
    div{
        display: inline-block;
    }
}

.chars-effect span{
    transition: transform .3s ease-out, opacity .3s ease;
    display: inline-block;
    transform: translateY(20px);
    opacity: 0;
}

.chars-effect.active span{
    transform: translateY(0);
    opacity: 1;
}

.faded-chars-effect{
    overflow: hidden;

    div{
        display: inline-block;
    }

    span{
        transition: transform .3s ease-out, opacity .3s ease;
        display: inline-block;
        transform: translateX(-15px);
        opacity: 0;
    }
}

.faded-chars-effect.active span{
    transform: translateX(0);
    opacity: 1;
}

.shrink-fade-enter {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
}
.shrink-fade-enter-active {
    opacity: 1;
    max-height: 400px;
    transition: all .3s ease-out;
}
.shrink-fade-exit {
    max-height: 400px;
    opacity: 1;
}
.shrink-fade-exit-active {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: all .3s ease-out;
}

.mg-fade-enter {
    opacity: 0;
  }
  
.mg-fade-enter.mg-fade-enter-active {
    opacity: 1;
    transition: opacity .3s ease-out;
}

.mg-fade-leave {
    opacity: 1;
}

.mg-fade-leave.mg-fade-leave-active {
    opacity: 0;
    transition: opacity .3s ease-out;
}

.mg-fade-up-enter {
    opacity: 0;
    transform:translateY(45px);
  }
  
.mg-fade-up-enter.mg-fade-up-enter-active {
    opacity: 1;
    transform:translateY(0);
    transition: opacity .3s ease-out, transform .3s ease-out;
}

.mg-fade-up-leave {
    opacity: 1;
    transform:translateY(0);
}

.mg-fade-up-leave.mg-fade-up-leave-active {
    opacity: 0;
    transform:translateY(45px);
    transition: opacity .3s ease-out, transform .3s ease-out;
}


.route-animation-elements{
    content: '';
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 10000;
    opacity: 0;
    pointer-events: none;
    will-change: transform, opacity;
    transform-origin: center;
    // transform: translateY(100%);
    transition:  opacity .3s ease-out; 
    background-color: #232323;
}

.route-animation-elements.active{
    opacity: 1;
}


/*
    Animaciones en scroll
*/
.scroll-fade-up{
    opacity: 0;
    transition: transform .5s ease,opacity .3s ease .1s;
    
    &.aos-animate{
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeIn{
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}

@keyframes fadeUp{
    0%{
        transform: translateY(20px);
        opacity:0;
    }
    70%{
        opacity:1;
    }
    100%{
        transform: translateY(0);
    }
}

@keyframes fadeLeft{
    0%{
        transform: translateX(-20px);
        opacity:0;
    }
    70%{
        opacity:1;
    }
    100%{
        transform: translateX(0);
    }
}

@keyframes fullPageFade{
    0%{
        transform: translateY(100%);
        opacity:0;
    }
    10%{
        transform: translateY(0);
        opacity:1;
    }
    70%{
        transform: translateY(0);
        opacity:1;
    }
    100%{
        transform: translateY(-100%);
        opacity:0;
    }
}

.fadeIn{
    animation: fadeIn forwards;
}

.fadeUp{
    animation: fadeUp forwards;
}

.fadeLeft{
    animation: fadeLeft forwards;
    // transition: transform .5s ease, opacity .4s ease;
}

/*
    Forms
*/

.input-wrapper{
    display: flex;
    flex-direction: column;

    label{
        -ms-flex-order: 1;
        order: 1;
        font-size: 1.15rem;
        font-weight: 500;
    }
    
    label:after{
        color: #db0c0c;
        transition: all 0.3s cubic-bezier(0.63, 0.03, 0.21, 1); 
    }

    input, textarea{
        -ms-flex-order: 2;
        order: 2;
    }

    .form-error{
        -ms-flex-order: 3;
        order: 3;
    }
}

.form-control{
    border-radius: 0;
    background-color: #ebebeb;
    transition: background-color .3s ease-out;
    border: 0;
    height: 51px;

    &:focus, &:active{
        background-color: #ccc;
        border: 0;
        box-shadow: none;
    }

    &:focus ~ label{
        &:after{
            -webkit-clip-path: inset(0 0 0 0);
            clip-path: inset(0 0 0 0);
        }
    }
}

textarea.form-control{
    padding: 1.5rem;
    height: 145px;
}

.form-error{
    color:#da1b1b;
    font-size: 0.95rem;
    margin-top: 10px;
}

form button .spinner-border{
    width: 1rem;
    height: 1rem;
}

form .alert-danger,
form .alert-success{
    border: 0;
    padding: 1.2rem 1rem;
    border-radius: 06px;
    display: flex;
    align-items: center;
    font-size: .9rem;

    .close{
        cursor: pointer;
    }

    svg{
        flex: 0 0 24px;
    }
}

form .alert-success{
    color: #525252;

    svg{
        fill: #5acc75;
    }
}

form .alert-danger{
    svg{
        fill: #db4b4b;
    }
}


@media (min-width: 576px){
    
    .mg-heading{
        font-size: 5rem;
    }
    
    .mg-subheading{
        font-size: 1.2rem;
    }

    .container{
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .section{
        padding: 120px 0;
    }

}

@media (min-width: 1200px){
    .container{
        max-width: 88%;
    }
}